# Dependencias instaladas
/node_modules

# Archivos y carpetas generadas en el proceso de desarrollo
npm-debug.log
yarn-debug.log
yarn-error.log
/.pnp
.pnp.js

# Archivos de configuración locales
.env

# Archivos generados durante la construcción
/build
/dist

# Dependiendo del entorno de desarrollo, puedes querer ignorar también
# archivos de configuración de editor específicos, como estos para Visual Studio Code:
.vscode
