doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Index
        
        form(action="/sendDate", method="POST",id="myForm")
            input(type="hidden", id="idx", name="idx")
            input(type="text", id="texto", name="texto")
            table
                thead
                    tr
                    th Día
                    th Botón
                    th Asignados
                tbody
                    - let a=""
                    - for (let i = 1; i <= 31; i++)
                        tr
                            td= i
                            td  
                                button(type="button", onclick=`setIdx(${i})`) Enviar
                            td(id="F"+i)=a
                            


    script.
      function setIdx(idx) {
            document.getElementById('idx').value = idx; 
            
            const index = idx;
            const columna = document.getElementById('F'+idx)
            
            columna.innerHTML =  document.getElementById('texto').value
            
            document.getElementById('myForm').submit();  
        }